<h1> I am in feature page</h1>

<h1>Here is your pizza:::</h1>

<h2>You have selected {{name}} </h2>
<h3>Your toppings are {{toppings}}</h3>
<h3>Here is your price ::{{price}}</h3>
<image src="{{image}}"></image>


