<div><span><img src="/images/kaushiklogo.jpg"></img></div><div> </span>
<span><a href="/">Home</a></span>
<span><a href="/feature">Feature</a></span>
<span><a href="/contactus">Contact Us</a></span>
<span><a href="/aboutus">About Us</a></span>

</div>