<h1>Please Sign up here</h1><br><br><br><br>
<div>
<form action="/signup" method="get">
UserName<input type="text" name="username" required/><br><br>
Password<input type="text" name="password" requird/><br><br>
City<input type="text" name="city" required/><br><br>
Country<input type="text" name="country" required/><br><br>
<input type="submit" value="Sign Up"/>
</form>
</div>